# Clerk (free: 10K MAU)
# Get from: https://dashboard.clerk.com/
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YWJzb2x1dGUtYm94ZXItNjUuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_m4rJSITMyvWK12FXyAzdFGgY7wAWZvAf3X8oNHFTvu

# API
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_WS_URL=ws://localhost:8000

# Production values (Render + Vercel)
# NEXT_PUBLIC_API_URL=https://reguscan-api.onrender.com
# NEXT_PUBLIC_WS_URL=wss://reguscan-api.onrender.com
